snippet id
	document.getElementById(${1})${2}
snippet #!
	#!/usr/bin/env node
	
snippet dbg
	console && console.log(${1});
snippet for
	for(var i=0, len=${1}; i<len; i++){
	  ${2}
snippet ie
	$.browser.msie
