snippet id
	document.getElementById(${1})${2}
snippet #!
	#!/usr/bin/env node
	
snippet dbg
	typeof console != 'undefined' && console.log(${1});
snippet cdbg
	}catch(e){ console.error(e); }
snippet for
	for(var i=0, len=${1}; i<len; i++){
	  ${2}
snippet ie
	$.browser.msie
snippet this
	this.${1:} = $1;${2}
