<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title><%= "Test" %></title>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#foo').click(function() {
          alert('OK');
        });
      })
    </script>

    <style>
      body {
        color: blue;
        background-color: red;
      }
    </style>
  </head>

  <body>
  </body>
</html>
